// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300|Oleo+Script');

ion-content {
  font-family: 'Fira Sans', sans-serif;
}

.auto-scroll .scroll-content {
  overflow: auto;
}

.oleo-script {
  font-family: 'Oleo Script', cursive;
}

.logo-title {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 3em;
}


page-login{
  ion-input {
    background-color: #FAFAFA !important;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    color: #999999 !important;
    margin-bottom: 10px;
  }

  ion-input,
  ion-button {
    font-size: 0.8em !important;
  }
}
